/*-base-*/
*
{

    padding: 0;
    margin: 0;
}
body {
width: 1440px;
color:#434455;
background-color:#FFFFFF;
font-family: "Raleway", sans;
font-family: 'Roboto', sans-serif;

}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}
.images {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.container {
    display: flex;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/*--header--*/
.hero-header-section {
    border-bottom: 1px solid #e7e9fc;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
display: flex;
align-items: center;
font-family: 'Raleway', sans-serif;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
padding: 24px 0;
}
.logo-studio {
color: #2e2f42;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #2E2F42;
    padding: 24px 0;
}
.nav-link:hover, .nav-link:focus {
color: #404bbf;
}
.social-media {
    display: flex;
}
.hero-address {
font-style: normal;
display: flex;
align-items: center;
gap: 40px;
}
.address-m {
color: #434455;
font-size: 16px;
font-style:normal;
font-weight: 500;
line-height: 01.5;
letter-spacing: 0.02em;
}
.address-m:hover, .address-m:focus{
color: #404BBF;
}
.address-end {

}
/*--Main--*/ 
/*--Hero Section--*/

.hero-section {
background-color: var(--NAVY-BLUE, #2E2F42);
}
.hero-inner {
width: 100%;
display: flex;
flex-direction: column;
padding: 188px 0;
align-items: center;
    }
.hero-title {
color: #ffffff;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
}
.hero-actions {
    display: flex;
    align-items: center;
}

/*--Section Feature--*/
.feature {

}
.feature-container {
padding: 0 32px;
}
.feature-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.feature-item {
    width: calc((100%-72px)/4);
    padding: 120px 0;
}
.feature-header-text {
color: #2e2f42;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;

}
.text-section-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*--Section Our Team--*/

.our-team-title-section { 
text-align: center;
color:#2E2F42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
padding-top: 120px;
padding-bottom: 72px;

}
.our-team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.item-our-team-section {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    

}
.info-team {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;

}
.card-name {
color: #2E2F42;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;

}
.card-content {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
.team-section {
    display: flex;
    background: var(--CLOUD, #F4F4FD);
    flex-direction: column;

}
/*--Section Portfolio--*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item-app {
flex-basis: calc((100% - 48px) / 3);
}
.app {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    align-items: start;
    border-radius: 0 0 4px 4px;
}

/*--footer--*/

.footer-section {
background: var(--NAVY-BLUE, #2E2F42);
padding: 100px 0;
}
.logo-web-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
   }
.logo-studio-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}   
.footer-text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-container {
    display: inline-block;
}




